@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f9f9f9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.noto-serif {
  font-family: "Noto Serif Display", serif;
}

.site {
  @apply px-4 md:px-16 lg:px-32 xl:px-52;
}

.burger {
  transition: color 0.25s ease-in-out;
  @apply text-stone-500 hover:text-stone-700  cursor-pointer;
}

.underline {
  transition: all 0.25s ease-in-out;
}

.transition {
  transition: all 0.25s ease-in-out;
}

.welcome-photo {
  @apply hidden md:block col-span-3 h-4/5 ml-8 mt-16 mb-52 lg:mb-8 rounded p-1 relative opacity-0;
}

.slide-bottom {
  -webkit-animation: infinite slide-bottom 1s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: infinite slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.menu {
  @apply bg-stone-800 left-0 fixed top-0 w-screen h-0;
}

.navlink {
  transition: color 0.5s ease-out;
  @apply text-4xl md:text-6xl text-white font-bold tracking-wide my-12 2xl:text-8xl opacity-0;
}
.navlink:hover {
  color: #976d3f;
}

.welcome-header {
  @apply font-bold text-center md:text-left text-7xl xl:text-9xl mt-12 md:mt-56 lg:mt-32 col-span-4 lg:col-span-3 tracking-wide mr-2 relative;
}

.project-link {
  transition: color 0.25s ease-in-out;
  @apply flex items-center py-2 border-b text-stone-500 cursor-pointer border-stone-500 hover:text-stone-700;
}

.details-button {
  transition: all 0.5s ease-in-out;
  @apply text-stone-500 hover:text-white hover:bg-stone-500 px-2 py-1 rounded-sm cursor-pointer;
}

.tech-img-wrapper {
  box-sizing: border-box;
  @apply rounded-full w-12 h-12 relative;
}

.tech-img-wrapper > div {
  border-radius: 100%;
}

.project-details-title {
  line-height: 4.5rem;
}

.section-title {
  font-family: "Noto Serif Display", serif;
  @apply text-3xl font-medium;
}

.section-paragraph {
  @apply md:w-72 lg:w-96 font-light text-justify;
}

.bandmate-photo-position {
  right: -50px;
}

.brown-button {
  transition: background 0.25s ease-in-out;
  @apply bg-stone-600 hover:bg-stone-800 rounded-full flex justify-center items-center px-4 py-2 text-xl text-white cursor-pointer;
}

.project {
  @apply cursor-pointer;
}

.project-title {
  transition: text-decoration 0.25s ease-in-out;
  @apply text-black font-medium text-xl noto-serif;
}

.project > div > div {
  transition: all 0.25s ease-in-out;
}

.functionality-header {
  @apply flex items-center mb-4;
}

/* .project:hover,
project > header {
  @apply underline;
} */

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
